:root{
    overflow-x: hidden;
    background-image: url(../Images/Home.jpg);
}
::-webkit-scrollbar {
    display: none;
}
.bg {
    background-color: gray;
    border-style: solid;
    border-color: black;
    border-radius: 10%;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

ul {
    display: inline-block;
    list-style: none;
    color: white;
    
}

ul:nth-child(even) {
    background-color: lightgray;

}

ul:nth-child(odd) {
    background-color: slategrey;
}

li {
    font-size: 1rem;
    font-family: sans-serif;
}

.persoonsgegevens {
    opacity: 1;
    color: rebeccapurple;
}

.Table-head {
    background-color: black;
    color: white;
    display: inline-block;
    font-size: 2rem;
}