:root {
    overflow-x: hidden;
    background-image: url(../Images/Home.jpg);
}

::-webkit-scrollbar {
    display: none;
}

.bg {
    justify-content: center;
    text-align: center;
}


ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}


.Table {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.Table-head {
    background-color: black;
    color: white;
    font-size: 2rem;
    display: flex;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.Table-content {
    background-color: lightgrey;
    margin: 5px;
    padding: 10px;
    flex: 1;
    text-align: center;
    border-radius: 5px;
    width: 200px;
    display: row;
}

.Table-content:nth-child(odd) {
    background-color: slategrey;
    color: white;
}

.Table-content > :first-child {
    background-color: black;
    color: white;
}

.persoonsgegevens {
    opacity: 1;
    color: rebeccapurple;
    display: flex;
    flex-direction: grid; /* Display horizontally */
    max-height: 100vh;
    overflow-y: auto;
}
