@use "./Style.scss" as s;

html{
    @include s.Html
}
.campBody {
    @include s.Background;
    justify-content: top;
    align-items: top;
    flex-direction: row;
}

.flex-container {
    display: flex;
    padding: 5rem;
    width: calc(100vw - 10rem);
    height: fit-content;
    flex-direction: row;
    gap: 3rem;
}
.campText {
    @include s.Outline;
    padding: 1rem;
    flex: 4;
}

.nested-flex-container {
    display: flex;
    flex-direction: column;
    flex: 3;
    gap: 3rem;
}

.campText2 {
    @include s.Outline;
    background-image: url('../Images/camping.jpg'); 
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    flex-grow: 3;
}
.campText3 {
    @include s.Outline;
    flex-grow: 1;
}

.title{
    @include s.TextBig;
    margin: 0px;
}
.caption{
    @include s.TextMid;
    font-weight: bold
}
.text{
    @include s.TextSmall;
}
.textBold{
    @include s.TextSmall;
    font-weight: bold;
}
@media (max-width: 992px ){
    .flex-container {
        flex-direction: column;
    }
    .campBody {
        height: fit-content;
        background-image: none;
        background-color: rgb(145, 145, 145);
        background-size: cover
    }
    .campText2{
        min-width: auto;
        aspect-ratio: 1.5;
    }

}
/*
.dropdown {
    display: inline-block;
    position: relative;
}

.label {
    background-color: #333;
    color: #d6edd4;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #d6edd4;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: black;
    padding: 4px 26.5px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #d6edd4;
}

.dropdown:hover .dropdown-content {
    display: block;
    visibility: visible;
    opacity: 1;
}
.option-content {
    margin-top: 10px;
    display: block;
    visibility: hidden; 
    opacity: 0;
}

.option-content:target {
    display: block;
    visibility: visible;
    opacity: 1;
}



*/
