@use "./Style.scss" as s;

.campBody {
    @include s.Background;
    justify-content: top;
    align-items: top;
    flex-direction: row;
}

.flex-container {
    display: flex;
    padding: 5rem;
    padding-bottom: 0;
    width: calc(100vw - 10rem);
    height: calc(95vh - 10rem);
    flex-direction: row;
    gap: 3rem;
}
.campText {
    @include s.Outline;
    padding: 1rem;
    flex: 4;
}

.nested-flex-container {
    display: flex;
    flex-direction: column;
    flex: 3;
    gap: 3rem;
}

.campText2 {
    @include s.Outline;
    background-image: url('../Images/camping.jpg'); 
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    flex-grow: 3;
}
.campText3 {
    @include s.Outline;
    flex-grow: 1;
}

.title{
    @include s.TextBig;
    margin: 0px;
}
.caption{
    @include s.TextMid;
    font-weight: bold
}
.text{
    @include s.TextSmall;
}
.textBold{
    @include s.TextSmall;
    font-weight: bold;
}
@media (max-width: 992px ){
    .flex-container {
        flex-direction: column;
    }
    .campBody {
        height: fit-content;
        background-image: none;
        background-color: rgb(145, 145, 145);
        background-size: cover
    }
    .campText2{
        min-width: auto;
        aspect-ratio: 1.5;
    }
}