@use "./Style.scss" as s;

.bodyReservering{
    @include s.Background;
    justify-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.reserveringForm{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    margin: 0;
    padding: 0;
    transform: scale(1.25);
}
.reserveringContainer {
    display: flex;
    flex-direction: column;
    background-color: #d6edd4;
    align-items: center;
    width: fit-content;
    height: fit-content;
    @include s.Outline;
    padding: 1rem;
    margin: 1rem;
}

input{
    @include s.TextSmall;
    @include s.OutlineSmall;
    margin-top: 1rem;
    margin-bottom: 5px;
    height: 2rem;
    width: 41rem;
    padding: 0;
    align-items: center;
    padding-left: 5px;
    display: inline-flex;
    border-style: none;
}
label{
    @include s.TextSmall;
    @include s.OutlineSmall;
    margin: 0;
    margin-bottom: 5px;
    height: 2rem;
    width: 41.5rem;
    padding: 0;
    align-items: center;
    padding-left: 5px;
    display: inline-flex;
    background-color: #d6edd4;
}
.adress{
    display: flex;
    flex-direction: row;
    width: 41.5rem;
    min-width: 0;
}
.postcode{
    @include s.OutlineSmall;
    flex: 1;
    border-bottom-right-radius: 0rem;
    border-top-right-radius: 0rem;
    padding-left: 0.5rem;
    min-width: 0;
}
.straatnaam{
    flex: 2;
    border-radius: 0;
    min-width: 0;
}
.huisnummer{
    @include s.OutlineSmall;
    flex: 1;
    border-bottom-left-radius: 0rem;
    border-top-left-radius: 0rem;
    padding-left: 0.5rem;
    min-width: 0;
}
input::placeholder{
    color: #616060;
}
select{
    @include s.TextSmall;
    @include s.OutlineSmall;
    margin-top: 1rem;
    height: 2rem;
    width: 41.5rem;
    padding: 0;
    align-items: center;
    padding-left: 5px;
    display: inline-flex;
    border-style: none;
}
select::placeholder{
    color: #616060;
}
.fmsg{
    @include s.TextSmall;
    @include s.OutlineSmall;
    margin-top: 1rem;
    height: 2.9rem;
    justify-content: start;
    align-items: start;
    display: flex;
    text-align: start;
    justify-items: start;
    align-content: start;
    text-wrap: wrap;
    width: 39.5rem;
    resize: none;
    padding: 1rem;
    padding-top: 0.1rem;
    border-style: none;
}
textarea::placeholder{
    color: #616060;
}
.label{
    @include s.TextSmall;
    @include s.OutlineSmall;
    margin-top: 1rem;
    height: 2rem;
    width: 40.5rem;
    padding: 0;
    padding-left: 1rem;
}
.submit{
    background-color: #ffffff90;
    @include s.OutlineSmall;
    height: 3.8rem;
    width: 41.5rem;
    @include s.TextBig;
    justify-content: center;
    transition: 0.3s;
    padding: 0;
    cursor: pointer;
}
.submit:hover {
    background-color: #086700;
    transition: 0.3s;
}
.emptyField{
    outline-color: rgb(194, 0, 0) ;
    outline-style: solid;
    outline-width: 3px;
}
@media (max-width: 992px ){
.reserveringForm{
    margin-top: 15rem;
    flex-direction: column;
    height: fit-content;
    background-image: none;
    gap: 15rem; 
    transform: translateY(-7.5rem) scale(0.45) scaleY(1.4);
}

}