:root, body, html {
    overflow-y: hidden;
}

.campBody {
    background-image: url('../Images/campingbackground.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: top; /* Change 'top' to 'center' for vertical alignment */
    align-items: top; /* Change 'top' to 'center' for horizontal alignment */
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.flex-container {
    display: flex;
    margin-inline: 10px;
    margin-top: calc(2.5% + 10px);
    width: 100%;
}

.campText {
    margin-inline: 2.5%;
    width: calc(45% - 10px);
    outline: 10px solid #25851c;
    border-radius: 10px;
    background-color: #d6edd4;
    height: calc(90% - 56px);
    padding-inline: 10px;
}

.nested-flex-container {
    display: flex;
    flex-direction: column; /* Stacking items vertically inside the nested container */
    width: 45%;
    height: calc(95% - 60px);
}

.campText2,
.campText3 {
    margin-inline: 2.5%;
    width: 100%;
    outline: 10px solid #25851c;
    border-radius: 10px;
    background-color: #d6edd4;
}

.campText2 {
    height: calc(78% - 60px);
    
}

.campText3 {
    margin-top: 8%;
    height: 14%;
    padding-inline: 10px;
}

.photo{
    background-image: url('../Images/camping2.png');
    margin: 0;
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 5px;   
}