# Enable MultiViews option
Options +MultiViews

# Enable the Rewrite Engine
RewriteEngine on

# Redirect requests for .php files to URLs without the .php extension
## Example: /example.php -> /example
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /([^\ ]+)\.php
RewriteRule ^/?(.*)\.php$ /$1 [L,R=301]

# Serve files without .php extension if the corresponding .php file exists
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^/?(.*)$ /$1.php [L]

# Set the default index files
DirectoryIndex index.php Home.php

# Deny access to .htaccess and Connection.php files
<FilesMatch "(.htaccess|Connection.php)">
    Order deny,allow
    Deny from all
</FilesMatch>

# Custom error page for 404 Not Found errors
ErrorDocument 404 /404.php
