RewriteEngine On
RewriteBase /BB/

## Protect specific files
<FilesMatch "Aantal_Reserveringen">
    AuthType basic
    AuthName 'Inloggen'
    AuthUserFile /BB/.htpasswd
    Require valid-user
</FilesMatch>

ErrorDocument 401 /401.php
ErrorDocument 403 /403.php
ErrorDocument 404 /404.php
ErrorDocument 500 /500.php
