RewriteEngine On
RewriteBase /BB/

# Exclude existing files and directories from rewriting
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

## Protect the entire "BB" directory
AuthType basic
AuthName 'Inloggen'
AuthUserFile /BB/.htpasswd
Require valid-user

ErrorDocument 401 /401.php
ErrorDocument 403 /403.php
ErrorDocument 404 /404.php
ErrorDocument 500 /500.php
